@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

.home-container, .welcome-container {
    font-family: "Calistoga", serif;
    margin-top: 50px;
}

.welcome-text {
    text-align: start;
    font-family: Calistoga, serif;
    color: #E53E3E;
    margin: auto;
    top: 90px;
    left: 50px;
    right: 0;
    transform: translateY(-50%);
    position: absolute;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
}

@media only screen and (max-width: 800px) {
    .welcome-text {
        display: none;
    }
}